body {
    background: url('images/Screenshot_24.png') no-repeat center;
    background-size: cover;
    cursor: url('images/Screenshot_21-removebg-preview.png'), auto;
    width: 1900px;
    padding-left: 15%;
    padding-right: 15%;    
}
header {
    text-align: center;
    background: url('images/marc.png') no-repeat;
    background-size: cover;
    width: 100%;
    border: 5px solid black;
    padding: 15px;
    border-radius: 20px;
    color: white;
    
}
nav {
    background-color: black;
    width: 100%;
    border: 5px solid gray;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 50;
}
.nav-button {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    border:  5px solid white;
    border-radius: 25px;
    transition: 0.5s;
    cursor: url('images/Screenshot_22-removebg-preview.png'), auto;
}
.nav-button:hover {
    background-color: white;
    border:  5px solid gray;
    color: black;
    transition: 0.5s;
}
.inf-1 {
    background-color: black;
    color: white;
    margin: 0;
    padding: 10px;
    border: 10px solid gray;
    border-radius: 20px;
    margin-top: 10px;
    padding-top: 80px;
    background: url('images/Screenshot_25.png') center;
}


.img-1 {
    background: url('images/Screenshot_11.png') no-repeat center;
    background-size: cover;
    width: 45%;
    height: 500px;
    cursor: url('images/Screenshot_22-removebg-preview.png'), auto;
}
.img-2 {
    background: url('images/Screenshot_12.png') no-repeat center;
    background-size: cover;
    width: 45%;
    height: 500px;
    cursor: url('images/Screenshot_22-removebg-preview.png'), auto;
}
.img-3 {
     background: url('images/Screenshot_14.png') no-repeat center;
    background-size: cover;
    width: 45%;
    height: 500px;
    cursor: url('images/Screenshot_22-removebg-preview.png'), auto;
}
.img-4 {
     background: url('images/Screenshot_15.png') no-repeat center;
    background-size: cover;
    width: 45%;
    height: 500px;
    cursor: url('images/Screenshot_22-removebg-preview.png'), auto;
}
footer {
    background: url('images/Screenshot_19.png') no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    color: white;
    padding: 10px;
    border: 10px solid gray;
    border-radius: 20px;
    font-weight: bold;
}
.img-1, .img-2, .img-3, .img-4 {
    border-radius: 45px;
    border:  5px solid gray;
    transition: 0.9s;
    margin: 30px;
}
.img-1:hover {
    -webkit-box-shadow: 0px 0px 20px 13px rgba(193, 193, 193, 0.6);
-moz-box-shadow: 0px 0px 20px 13px rgba(193, 193, 193, 0.6);
box-shadow: 0px 0px 20px 13px rgba(193, 193, 193, 0.6);
transform: scale(1.025);
transition: 0.9s;
}
.img-2:hover {
    -webkit-box-shadow: 0px 0px 20px 13px rgba(193, 193, 193, 0.6);
-moz-box-shadow: 0px 0px 20px 13px rgba(193, 193, 193, 0.6);
box-shadow: 0px 0px 20px 13px rgba(193, 193, 193, 0.6);
transform: scale(1.025);
transition: 0.9s;
}
.img-3:hover {
    -webkit-box-shadow: 0px 0px 20px 13px rgba(193, 193, 193, 0.6);
-moz-box-shadow: 0px 0px 20px 13px rgba(193, 193, 193, 0.6);
box-shadow: 0px 0px 20px 13px rgba(193, 193, 193, 0.6);
transform: scale(1.025);
transition: 0.9s;
}
.img-4:hover {
    -webkit-box-shadow: 0px 0px 20px 13px rgba(193, 193, 193, 0.6);
-moz-box-shadow: 0px 0px 20px 13px rgba(193, 193, 193, 0.6);
box-shadow: 0px 0px 20px 13px rgba(193, 193, 193, 0.6);
transform: scale(1.025);
transition: 0.9s;
}
footer p {
background-color: black;
width: 200px;
height: 110px;
padding: 15px;
border-radius: 15px;
border: 5px solid gray;
transition: 1s;
cursor: url('images/Screenshot_22-removebg-preview.png'), auto;
margin: 20px;
}
.fo-div {
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.fo-div p:hover {
    -webkit-box-shadow: 0px 0px 20px 9px rgba(255, 255, 255, 0.6);
-moz-box-shadow: 0px 0px 20px 9px rgba(255, 255, 255, 0.6);
box-shadow: 0px 0px 20px 9px rgba(255, 255, 255, 0.6);
transform: scale(1.05);
transition: 1s;
}
.imag {
    display: flex;
    flex-direction: row;
}
.inf-1 h1 {
    text-align: center;
}